.code-text{
    font-size: 34px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.GHlink{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.img_text2{
    display: flex;
}
.english{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 50px 150px;
    padding:20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(232, 233, 216);
}
.education{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 50px 150px;
    padding:20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(232, 233, 216);
}
.code{
    margin: 50px;
    font-size: 20px;
    color:rgb(49, 49, 49)
}
.mycode{
    display: flex;
}
.code1{
   
    margin: 50px 150px;
    padding:20px;
    background-color: rgb(232, 233, 216);
}
.skills{
    text-align: center;
    margin: 50px 150px;
    padding:20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(232, 233, 216);
}
.skills li{
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.avatarka_text{
    display: flex;
}
.avatarka_text img{
    border-radius: 100px;
    border: 3px solid rgb(85, 85, 85);
    box-shadow: 0 2зч 10px rgba(0,0,0,0.5);
    margin-top: 3%;
}
.info{
    text-align: center;
    margin: 50px 150px;
    padding:20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(232, 233, 216);
}
.info h2{
    text-decoration: underline;
}
.info p{
    font-size: 24px;
    color:black;
    font-weight: 600;
}

.links{
    margin-left: 31.5%;
}
.links a{
    padding: 14px 36px;
    margin: 20px;
}
.links a:hover{
    border-bottom:2px solid rgb(255, 255, 255);
}
footer{
    background:rgb(49, 49, 49);
}
footer h2{
    color:rgb(255, 255, 255);
    text-align: center;
}
footer .topnav a{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px white, 0 0 1em rgb(255, 255, 255);
    font-weight: bold;
    padding: 14px 56px;
    font-size: 20px;
}
footer .topnav a:hover{
border-bottom:2px solid rgb(255, 255, 255);
}

header{
    height: 766px;
    width: 1330px;
    background-image: url(image/Background.png);
}
a{
    text-decoration: none;
}
.topnav{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 14px;  
}
.topnav a{
color:black;
text-align: center;
text-shadow: 1px 1px 1px black, 0 0 1em rgb(109, 95, 95);
font-weight: bold;
padding: 14px 56px;
font-size: 20px;
}
.topnav a:hover{
border-bottom:2px solid #000;
}
.name{

    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-align:right;
    padding: 14px 56px;
    font-size: 20px;
    margin-top: 16%;
}
.name p{
    font-size: 38px;
    font-weight: bold;
}